$coreui-icons-font-path: "../fonts" !default;
$coreui-icons-prefix: "cil-" !default;

$icons: (
  "apple": \ec0f,
  "birthday-cake": \ec10,
  "burger": \ec11,
  "coffee": \e97d,
  "dinner": \ec12,
  "drink": \ec13,
  "drink-alcohol": \ec14,
  "fastfood": \ec15,
  "glass": \ec16,
  "lemon": \ea0f,
  "mug": \ec17,
  "mug-tea": \ec18,
  "pizza": \ec19,
  "restaurant": \ec1a,
  "restaurant-menu": \ec1b,
  "battery-0": \e935,
  "battery-empty": \e935,
  "battery-1": \e936,
  "battery-2": \e93d,
  "battery-3": \e9b4,
  "battery-4": \e9d5,
  "battery-5": \e9d7,
  "battery-full": \e9d7,
  "battery-alert": \eccc,
  "battery-alt-0": \eccd,
  "battery-alt-empty": \eccd,
  "battery-alt-1": \ecce,
  "battery-alt-2": \eccf,
  "battery-alt-3": \ecd0,
  "battery-alt-full": \ecd0,
  "battery-alt-slash": \ecd1,
  "battery-charge": \ecd2,
  "battery-slash": \ecd3,
  "battery-unknown": \ecd4,
  "bolt": \ecd5,
  "bolt-circle": \ecd6,
  "energy": \ecd7,
  "bolt-alt": \ecd7,
  "energy-circle": \ecd8,
  "fire": \ecd9,
  "flame": \ecda,
  "flash": \ecdb,
  "cat": \ec1c,
  "dog": \ec1d,
  "flower": \ec1e,
  "leaf": \ec1f,
  "eco": \ec1f,
  "plant": \ec1f,
  "paw": \ec20,
  "animal": \ec20,
  "recycle": \ea65,
  "terrain": \ec21,
  "american-football": \e900,
  "baseball": \e927,
  "basketball": \e929,
  "bowling": \e92a,
  "bowling-pins": \e92b,
  "football": \e93a,
  "soccer": \e93a,
  "golf": \e942,
  "golf-alt": \e977,
  "rowing": \e984,
  "running": \e998,
  "swimming": \e999,
  "tennis": \e99c,
  "tennis-ball": \e9a6,
  "weightlifitng": \e9b1,
  "weights": \e9b8,
  "browser": \e947,
  "call-to-action": \e945,
  "cast": \ec22,
  "cast-connected": \ec23,
  "cast-for-education": \ec24,
  "cloud": \e978,
  "cloud-check": \ec25,
  "cloud-circle": \ec26,
  "cloud-download": \e979,
  "cloud-slash": \ec27,
  "cloud-upload": \e97a,
  "data-transfer-down": \e9a4,
  "data-transfer-up": \e9a5,
  "developer-board": \ec28,
  "dns1": \ec29,
  "ethernet": \ec2a,
  "ethernet-alt": \ec2b,
  "external-link": \e9c0,
  "http": \ec2c,
  "https": \ec2d,
  "lan": \ec2e,
  "link": \ec2f,
  "link-alt": \ec30,
  "link-broken": \e946,
  "link-intact": \ea14,
  "link-slash": \ec31,
  "network-check": \ec32,
  "newspaper": \ea37,
  "paper-plane": \ea3d,
  "send": \ea3d,
  "portable-wifi": \ec33,
  "portable-wifi-off": \ec34,
  "rss": \ea6b,
  "rss-alt": \ea6c,
  "rss-square": \ea6d,
  "share": \ea74,
  "share-all": \ea75,
  "share-alt": \ec35,
  "share-boxed": \ea76,
  "sitemap": \ea7c,
  "stream": \ea94,
  "transfer": \eaa3,
  "wifi": \eaba,
  "wifi-lock": \ec36,
  "wifi-signal-0": \ec37,
  "wifi-signal-1": \ec38,
  "wifi-signal-2": \ec39,
  "wifi-signal-3": \ec3a,
  "wifi-signal-4": \ec3b,
  "wifi-signal-lock-0": \ec3c,
  "wifi-signal-lock-1": \ec3d,
  "wifi-signal-lock-2": \ec3e,
  "wifi-signal-lock-3": \ec3f,
  "wifi-signal-lock-4": \ec40,
  "wifi-signal-off": \ec41,
  "bank": \e934,
  "bath": \e959,
  "bathroom": \e959,
  "beach-access": \ea03,
  "bed": \eac9,
  "building": \e94a,
  "building-business": \ec42,
  "building-business-slash": \ec43,
  "building-slash": \ec44,
  "casino": \ec45,
  "child-friendly": \ec46,
  "baby-carriage": \ec46,
  "pushchair": \ec46,
  "city": \ec47,
  "couch": \ec48,
  "sofa": \ec48,
  "door": \ec49,
  "elevator": \e9b2,
  "fridge": \ec4a,
  "garage": \ec4b,
  "home": \e9f9,
  "hospital": \e9fa,
  "hot-tub": \ec4c,
  "hotel": \ec4d,
  "house": \ec4e,
  "industry": \ec4f,
  "factory": \ec4f,
  "industry-slash": \ec50,
  "factory-slash": \ec50,
  "institution": \ec51,
  "library-building": \ec51,
  "kitchen": \ec52,
  "oven": \ec52,
  "laundry": \ec53,
  "medical-cross": \ec54,
  "pool": \ec55,
  "room": \ec56,
  "room-slash": \ec57,
  "school": \ec58,
  "education": \ec58,
  "shower": \ec59,
  "smoke-free": \ec5a,
  "smoke-slash": \ec5a,
  "smoking-room": \ec5b,
  "smoke": \ec5b,
  "spa": \ec5c,
  "toilet": \ec5d,
  "wc": \ec5e,
  "window": \ec5f,
  "cloudy": \e97b,
  "moon": \ea34,
  "rain": \ea62,
  "snowflake": \ea7f,
  "sun": \ea95,
  "alarm": \eb02,
  "alarm-add": \eb03,
  "alarm-off": \eb04,
  "alarm-on": \eb05,
  "alarm-snooze": \eb06,
  "bell": \e938,
  "bell-exclamation": \eb07,
  "bell-plus": \eb08,
  "bell-ring": \eb09,
  "bell-slash": \e939,
  "bullhorn": \e94b,
  "exclamation": \eb0a,
  "exclamation-circle": \eb0b,
  "report": \eb0c,
  "report-slash": \eb0d,
  "warning": \eab8,
  "asterisk": \ea64,
  "asterisk-circle": \ecf3,
  "badge": \e92c,
  "circle": \e971,
  "drop1": \ecf4,
  "heart": \e9f6,
  "puzzle": \ecf5,
  "puzzle-piece": \ecf6,
  "rectangle": \ecf7,
  "scrubber": \ea72,
  "square": \ea8f,
  "star": \ea90,
  "star-circle": \ecf8,
  "star-half": \ea91,
  "triangle": \eaa5,
  "barcode": \e9db,
  "beaker": \e9e1,
  "bluetooth": \e9f3,
  "bluetooth-connected": \e9fc,
  "bluetooth-searching": \e9fd,
  "bluetooth-settings": \ea0b,
  "bluetooth-slash": \ea0d,
  "broadcast-tower": \ea13,
  "bug": \ea2b,
  "code": \ea2d,
  "command": \ea33,
  "device-unknown": \ea45,
  "devices": \ea47,
  "devices-important": \ea5a,
  "devices-other": \ea5b,
  "devices-slash": \ea5c,
  "dns": \ea5d,
  "dock": \ea5e,
  "fax": \ea5f,
  "fork": \ea6f,
  "gamepad": \ea70,
  "hard-drive": \ea71,
  "input-antenna": \ea7a,
  "input-component": \ea7d,
  "input-hdmi": \ea7e,
  "input-power": \ea96,
  "input-power-off": \ea9b,
  "input-svideo": \eaa9,
  "keyboard": \eaaa,
  "keyboard-hide": \eaab,
  "laptop": \eaac,
  "lightbulb": \eaad,
  "memory": \eb78,
  "microchip": \eb79,
  "monitor": \eb7a,
  "mouse": \eb7b,
  "mouse-alt": \eb7c,
  "print": \eb7d,
  "printer": \eb7e,
  "printer-slash": \eb7f,
  "qr-code": \eb80,
  "router": \eb81,
  "satelite": \eb82,
  "scanner": \eb83,
  "screen-deskop-slash": \eb84,
  "screen-desktop": \eb85,
  "screen-horizontal": \eb86,
  "screen-landscape": \eb86,
  "screen-lock-horizontal": \eb87,
  "screen-lock-landscape": \eb87,
  "screen-lock-portrait": \eb88,
  "screen-lock-vertical": \eb88,
  "screen-lock-rotation": \eb89,
  "screen-portrait": \eb8a,
  "screen-vertical": \eb8a,
  "screen-rotation": \eb8b,
  "screen-smartphone": \eb8c,
  "script": \eb8d,
  "sdcard": \eb8e,
  "signal": \eb8f,
  "signal-cellular-0": \eb90,
  "signal-cellular-1": \eb91,
  "signal-cellular-2": \eb92,
  "signal-cellular-3": \eb93,
  "signal-cellular-4": \eb94,
  "signal-cellular-no-internet-0": \eb95,
  "signal-cellular-no-internet-1": \eb96,
  "signal-cellular-no-internet-2": \eb97,
  "signal-cellular-no-internet-3": \eb98,
  "signal-cellular-no-internet-4": \eb99,
  "signal-cellular-off": \eb9a,
  "signal-off": \eb9b,
  "tablet": \eb9c,
  "task": \eb9d,
  "terminal": \eb9e,
  "usb": \eba1,
  "videogame": \ec04,
  "watch": \ec05,
  "waves": \ec06,
  "3d": \e901,
  "3d-rotate": \e902,
  "aperture": \e903,
  "blur": \e906,
  "blur-circular": \e907,
  "blur-linear": \e908,
  "blur-slash": \e909,
  "border-all": \e90b,
  "border-bottom": \e90c,
  "border-clear": \e90d,
  "border-horizontal": \e90e,
  "border-inner": \e90f,
  "border-left": \e910,
  "border-outer": \e911,
  "border-right": \e912,
  "border-style": \e913,
  "border-top": \e914,
  "border-vertical": \e915,
  "brush": \e916,
  "brush-alt": \e917,
  "camera-roll": \e918,
  "center-focus": \e919,
  "center-focus-weak": \e91a,
  "color-border": \e91b,
  "color-fill": \e91c,
  "color-palette": \e91d,
  "compare": \e91e,
  "contrast": \e91f,
  "crop": \e920,
  "crop-rotate": \e921,
  "cursor": \e922,
  "cursor-move": \e923,
  "drop": \e924,
  "drop-slash": \e925,
  "exposure": \e926,
  "eyedropper": \e930,
  "filter-frames": \e93c,
  "filter-photo": \e948,
  "flip": \e952,
  "flip-to-back": \e953,
  "flip-to-front": \e954,
  "gif": \e955,
  "gradient": \e956,
  "grain": \e960,
  "grid": \e961,
  "grid-slash": \e962,
  "hdr": \e963,
  "hdr-slash": \e99a,
  "healing": \e99d,
  "image-broken": \e99f,
  "image-plus": \e9a0,
  "invert": \e9ac,
  "layers": \e9ad,
  "layers-slash": \e9ae,
  "line-style": \e9af,
  "line-weight": \e9b9,
  "object-group": \e9bb,
  "object-ungroup": \e9c3,
  "opacity": \e9f4,
  "paint": \e9f7,
  "paint-bucket": \ea06,
  "picture-in-picture": \ea07,
  "picture-in-picture-alt": \ea08,
  "rounded-corner": \ea09,
  "swap-horizontal": \ea0e,
  "swap-horizontal-circle": \ea10,
  "swap-vertical": \ea11,
  "swap-vertical-circle": \ea15,
  "vector": \ea16,
  "vertical-align-bottom1": \ea35,
  "vertical-align-center1": \ea3a,
  "vertical-align-top1": \ea3b,
  "align-center": \ea40,
  "align-left": \ea41,
  "align-right": \ea42,
  "bold": \ea43,
  "copy": \ea44,
  "cut": \ea61,
  "remove": \ea85,
  "backspace": \ea85,
  "double-quote-sans-left": \ea86,
  "double-quote-sans-right": \ea87,
  "double-quote-serif-left": \ea88,
  "double-quote-serif-right": \ea89,
  "excerpt": \ea8a,
  "expand-down": \ea9c,
  "expand-left": \ea9d,
  "expand-right": \ea9e,
  "expand-up": \eaa7,
  "font": \eaae,
  "functions": \eaaf,
  "functions-alt": \eab0,
  "header": \eb0e,
  "highlighter": \eb0f,
  "highligt": \eb10,
  "indent-decrease": \eb11,
  "indent-increase": \eb12,
  "info": \eb13,
  "italic": \eb14,
  "justify-center": \eb15,
  "justify-left": \eb16,
  "justify-right": \eb17,
  "level-down": \eb18,
  "level-up": \eb19,
  "line-spacing": \eb1a,
  "list": \eb1b,
  "list-filter": \eb1c,
  "list-high-priority": \eb1d,
  "list-low-priority": \eb1e,
  "list-numbered": \eb1f,
  "list-numbered-rtl": \eb20,
  "list-rich": \eb21,
  "notes": \eb22,
  "opentype": \eb23,
  "paragraph": \eb24,
  "pen": \eb25,
  "pen-alt": \eb26,
  "pen-fancy": \eb27,
  "pen-nib": \eb28,
  "pencil": \eb29,
  "short-text": \eb2a,
  "sort-alpha-down": \eb2b,
  "sort-alpha-up": \eb2c,
  "sort-ascending": \eb2d,
  "sort-descending": \eb2e,
  "sort-numeric-down": \eb2f,
  "sort-numeric-up": \eb30,
  "space-bar": \eb31,
  "text": \eb32,
  "text-direction-ltr": \eb33,
  "text-direction-rtl": \eb34,
  "text-format-clear": \eb35,
  "text-height": \eb37,
  "text-rotate-vertical": \eb38,
  "text-rotation-down": \eb3a,
  "text-rotation-none": \eb3b,
  "text-rotation-up": \eb3c,
  "text-shapes": \eb3d,
  "text-size": \eb3e,
  "text-square": \eb3f,
  "text-strike": \eb40,
  "strikethrough": \eb40,
  "text-width": \eb41,
  "translate": \eb42,
  "underline": \eb43,
  "vertical-align-bottom": \eb44,
  "vertical-align-center": \eb45,
  "vertical-align-top": \eb46,
  "wrap-text": \eb47,
  "accessibility": \e9c1,
  "accessible": \e9c2,
  "assistive-listening-system": \e9d3,
  "blind": \e9dc,
  "braille": \e9dd,
  "deaf": \e9de,
  "ear": \ea0a,
  "eye": \ea18,
  "eye-slash": \ea19,
  "fingerprint": \ea1a,
  "key": \ea1b,
  "key-alt": \ea1c,
  "life-ring": \ea1d,
  "lock-locked": \ea1e,
  "lock-minus": \ea22,
  "lock-plus": \ea23,
  "lock-unlocked": \ea24,
  "low-vision": \ea25,
  "mouth": \ea26,
  "mouth-slash": \ea27,
  "pregnant": \ea28,
  "security": \ea29,
  "shield": \ea2e,
  "shield-alt": \ea2f,
  "shield-check": \ea36,
  "shield-minus": \ea3f,
  "shield-plus": \ea56,
  "shield-slash": \ea63,
  "shield-x": \ea66,
  "sign-language": \ea77,
  "speak": \ea78,
  "voice": \ea78,
  "universal-access": \ea79,
  "wheelchair": \ea80,
  "disabled": \ea80,
  "account-logout": \e964,
  "action-redo": \e965,
  "action-undo": \e966,
  "applications": \e967,
  "apps": \e967,
  "applications-settings": \e968,
  "apps-settings": \e968,
  "arrow-bottom": \e969,
  "arrow-circle-bottom": \e96a,
  "arrow-circle-left": \e96b,
  "arrow-circle-right": \e96c,
  "arrow-circle-top": \e96d,
  "arrow-left": \e96e,
  "arrow-right": \e96f,
  "arrow-thick-bottom": \e970,
  "arrow-thick-circle-down": \e974,
  "arrow-thick-circle-left": \e976,
  "arrow-thick-circle-right": \e97f,
  "arrow-thick-circle-up": \e980,
  "arrow-thick-from-bottom": \e981,
  "arrow-thick-from-left": \e982,
  "arrow-thick-from-right": \e983,
  "arrow-thick-from-top": \e99b,
  "arrow-thick-left": \e9a1,
  "arrow-thick-right": \e9a2,
  "arrow-thick-square-down": \e9a3,
  "arrow-thick-square-left": \e9a7,
  "arrow-thick-square-right": \e9a8,
  "arrow-thick-square-up": \e9b3,
  "arrow-thick-to-bottom": \e9bc,
  "arrow-thick-to-left": \e9bd,
  "arrow-thick-to-right": \e9bf,
  "arrow-thick-to-top": \e9d4,
  "arrow-thick-top": \e9be,
  "arrow-top": \e9e4,
  "ban": \e9e5,
  "brightness": \e9e6,
  "brightness-auto": \ea04,
  "brightness-high": \ea05,
  "brightness-low": \ea1f,
  "brightness-medium": \ea2a,
  "caret-bottom": \ea2c,
  "caret-left": \ea30,
  "caret-right": \ea31,
  "caret-top": \ea3c,
  "check": \ea55,
  "check-alt": \ecf9,
  "check-circle": \ea57,
  "check-double": \ea58,
  "check-double-alt": \ecfa,
  "chevron-bottom": \ea59,
  "chevron-bottom-alt": \ecfb,
  "chevron-circle-down": \ea60,
  "chevron-circle-down-alt": \ecfc,
  "chevron-circle-left": \ea67,
  "chevron-circle-left-alt": \ecfd,
  "chevron-circle-right": \ea68,
  "chevron-circle-right-alt": \ecfe,
  "chevron-circle-up": \ea69,
  "chevron-circle-up-alt": \ecff,
  "chevron-double-down": \ea6a,
  "chevron-double-down-alt": \ed00,
  "chevron-double-left": \ea6e,
  "chevron-double-left-alt": \ed01,
  "chevron-double-right": \ea73,
  "chevron-double-right-alt": \ed02,
  "chevron-double-up": \ea8d,
  "chevron-double-up-alt": \ed03,
  "chevron-left": \ea8e,
  "chevron-left-alt": \ed04,
  "chevron-right": \ea9a,
  "chevron-right-alt": \ed05,
  "chevron-square-down": \eaa1,
  "chevron-square-down-alt": \ed06,
  "chevron-square-left": \eaa4,
  "chevron-square-left-alt": \ed07,
  "chevron-square-right": \eabb,
  "chevron-square-right-alt": \ed08,
  "chevron-square-up": \eabc,
  "chevron-square-up-alt": \ed09,
  "chevron-top": \eabd,
  "chevron-top-alt": \ed0a,
  "clear-all": \eabe,
  "clipboard": \eac0,
  "clone": \eac1,
  "columns": \eb4b,
  "dial": \eb4c,
  "exit-to-app": \eb4d,
  "filter": \eb4e,
  "infinity": \eb4f,
  "input": \eb50,
  "magnifying-glass": \eb51,
  "zoom": \eb51,
  "search": \eb51,
  "menu": \ed0b,
  "hamburger-menu": \ed0b,
  "minus": \eb52,
  "minus-circle": \eb53,
  "minus-square": \eb54,
  "more": \eb55,
  "move": \eb56,
  "options": \ecdc,
  "options-horizontal": \eb57,
  "ellipses": \eb57,
  "ellipsis": \eb57,
  "overscan": \eb58,
  "overscan-settings": \eb59,
  "pin": \eb5a,
  "plus": \eb5b,
  "plus-circle": \eb5c,
  "plus-square": \eb5d,
  "power-settings": \eb5e,
  "power-standby": \eb5f,
  "reload": \eb60,
  "resize-both": \eb61,
  "resize-height": \eb62,
  "resize-width": \eb63,
  "restore": \eb64,
  "save": \eb65,
  "select": \eb66,
  "select-all": \eb67,
  "settings": \eb68,
  "cog": \eb68,
  "speedometer": \eb69,
  "gauge": \eb69,
  "spreadsheet": \eb6a,
  "storage": \eb6b,
  "sync": \eb6c,
  "sync-disabled": \eb6d,
  "sync-problem": \eb6e,
  "timeline": \eb6f,
  "timer": \eb70,
  "toggle-off": \eb71,
  "toggle-on": \eb72,
  "touch-app": \eb73,
  "trash": \eb74,
  "trash-alt": \eb75,
  "trash-arrow-up": \eb76,
  "trash-sweep": \eb77,
  "trash-x": \ebf0,
  "update": \ebf1,
  "verical-split": \ebf2,
  "view-agenda": \ebf3,
  "view-array": \ebf4,
  "view-carousel": \ebf5,
  "view-column": \ebf6,
  "view-module": \ebf7,
  "view-quilt": \ebf8,
  "view-stream": \ebf9,
  "wallpaper": \ebfa,
  "widgets": \ebfb,
  "window-maximize": \ebfc,
  "window-minimize": \ebfd,
  "window-restore": \ebfe,
  "x": \ebff,
  "x-circle": \ec00,
  "x-square": \ec01,
  "zoom-in": \ec02,
  "zoom-out": \ec03,
  "child": \e97e,
  "baby": \e97e,
  "face": \e985,
  "face-dead": \e986,
  "frown": \e987,
  "sad": \e987,
  "meh": \e988,
  "mood-bad": \e989,
  "mood-good": \e98a,
  "mood-very-bad": \e98b,
  "mood-very-good": \e98c,
  "smile": \e9c4,
  "happy": \e9c4,
  "smile-plus": \e9da,
  "4k": \ea81,
  "airplay": \ea82,
  "album": \ea83,
  "art-track": \ea84,
  "audio": \ea93,
  "audio-description": \eaa2,
  "audio-spectrum": \eaa8,
  "av-timer": \eab1,
  "camera": \eab2,
  "camera-control": \eab3,
  "control": \eab3,
  "camera-enhance": \eab4,
  "camera-plus": \eab5,
  "camera-switch": \eab6,
  "closed-captioning": \eab9,
  "cc": \eab9,
  "compress": \eb4a,
  "compress-wide": \eb9f,
  "equalizer": \eba0,
  "featured-playlist": \ec6c,
  "featured-video": \ec6d,
  "fiber-dvr": \ec6e,
  "dvr": \ec6e,
  "fiber-manual": \ec6f,
  "fiber-new": \ec70,
  "new": \ec70,
  "fiber-pin": \ec71,
  "pin1": \ec71,
  "fiber-smart": \ec72,
  "fullscreen": \ec73,
  "fullscreen-exit": \ec74,
  "hd": \ec75,
  "headphones": \ec76,
  "headphones-mic": \ec77,
  "headphones-mute": \ec78,
  "high-quality": \ec79,
  "hq": \ec79,
  "library-add": \ec7a,
  "library-music": \ec7b,
  "loop": \ec7c,
  "loop-1": \ec7d,
  "loop-circular": \ec7e,
  "loop-square": \ec7f,
  "media-eject": \ec80,
  "media-eject-circle": \ec81,
  "media-eject-square": \ec82,
  "media-pause": \ec83,
  "media-pause-circle": \ec84,
  "media-pause-square": \ec85,
  "media-play": \ec86,
  "media-play-circle": \ec87,
  "media-play-square": \ec88,
  "media-record": \ec89,
  "media-record-circle": \ec8a,
  "media-record-square": \ec8b,
  "media-skip-backward": \ec8c,
  "media-skip-backward-circle": \ec8d,
  "media-skip-backward-square": \ec8e,
  "media-skip-forward": \ec8f,
  "media-skip-forward-circle": \ec90,
  "media-skip-forward-square": \ec91,
  "media-step-backward": \ec92,
  "media-step-backward-circle": \ec93,
  "media-step-backward-square": \ec94,
  "media-step-forward": \ec95,
  "media-step-forward-circle": \ec96,
  "media-step-forward-square": \ec97,
  "media-stop": \ec98,
  "media-stop-circle": \ec99,
  "media-stop-square": \ec9a,
  "microphone": \ec9b,
  "mic": \ec9b,
  "microphone-alt": \ec9c,
  "mic-alt": \ec9c,
  "microphone-settings": \ec9d,
  "mic-settings": \ec9d,
  "microphone-slash": \ec9e,
  "mic-slash": \ec9e,
  "movie": \ec9f,
  "movie-alt": \eca0,
  "music-note": \eca1,
  "music-note-alt": \eca2,
  "music-note-slash": \eca3,
  "music-video": \eca4,
  "new-releases": \eca5,
  "playlist-add": \eca6,
  "playlist-add-check": \eca7,
  "playlist-play": \eca8,
  "queue": \eca9,
  "queue-add": \ecaa,
  "queue-music": \ecab,
  "queue-play-next": \ecac,
  "queue-remove": \ecad,
  "radio": \ecae,
  "random": \ecaf,
  "recent-actors": \ecb0,
  "remote-control": \ecb1,
  "remote-settings": \ecb2,
  "replay": \ecb3,
  "screen-mirroring": \ecb4,
  "shop-media": \ecb5,
  "shop-media-two": \ecb6,
  "slow-motion": \ecb7,
  "sorround-sound": \ecb8,
  "speaker": \ecb9,
  "speaker-group": \ecba,
  "subtitles": \ecbb,
  "tv": \ecbc,
  "tv-dvr": \ecbd,
  "tv-live": \ecbe,
  "tv-slash": \ecbf,
  "video": \ecc0,
  "video-label": \ecc1,
  "video-library": \ecc2,
  "video-missed": \ecc3,
  "video-plus": \ecc4,
  "video-slash": \ecc5,
  "video-switch": \ecc6,
  "voice-over-record": \ecc7,
  "voice-over-slash": \ecc8,
  "volume-high": \ecc9,
  "volume-low": \ecca,
  "volume-off": \eccb,
  "archive": \e98e,
  "at": \e98f,
  "book": \e990,
  "book-open": \e991,
  "bookmark": \e992,
  "bookmarks": \eba2,
  "box": \eba3,
  "box-alt": \e993,
  "description": \eba6,
  "document": \e9a9,
  "envelope-closed": \e9b5,
  "envelope-letter": \e9b6,
  "envelope-minus": \eba7,
  "envelope-open": \e9b7,
  "envelope-plus": \eba8,
  "file": \e9c5,
  "file-acrobat": \e9c6,
  "file-add": \eba9,
  "file-archive": \e9c7,
  "file-audio": \e9c8,
  "file-code": \e9c9,
  "file-doc": \e9ca,
  "file-excel": \e9cb,
  "file-image": \e9cc,
  "file-pdf": \e9cd,
  "file-powerpoint": \e9ce,
  "file-ppt": \e9cf,
  "file-video": \e9d0,
  "file-word": \e9d1,
  "file-xls": \e9d2,
  "find-in-page": \ebaa,
  "find-replace": \ebab,
  "folder": \e9d8,
  "folder-alt": \ebac,
  "folder-open": \e9d9,
  "folder-plus": \ebad,
  "folder-shared": \ebae,
  "folder-special": \ebaf,
  "image1": \e9fe,
  "images1": \e9ff,
  "inbox": \ea00,
  "inbox-in": \ea01,
  "inbox-out": \ea02,
  "library": \ebb0,
  "library-bookmark": \ebb1,
  "library-books": \ebb2,
  "mail": \ebb3,
  "mailbox": \ebb4,
  "note": \ea38,
  "note-add": \ebb5,
  "notebook": \ea39,
  "page": \ebb6,
  "page-restore": \ebb7,
  "pageview": \ebb8,
  "paperclip": \ea3e,
  "sticky-note": \ea92,
  "tag": \ea97,
  "tags": \ea98,
  "address-book": \ec07,
  "address-card": \ec08,
  "chalkboard-teacher": \ec09,
  "id-badge": \ec60,
  "id-card": \ec61,
  "people": \ec62,
  "people_plus": \ec63,
  "person": \ec64,
  "person-female": \ec65,
  "plus-one": \ec66,
  "user": \ec67,
  "user-female": \ec68,
  "user-follow": \ec69,
  "user-secret": \ec6a,
  "user-unfollow": \ec6b,
  "airplane-mode": \e904,
  "airplane-mode-off": \e905,
  "call-made": \e90a,
  "call-merge": \e928,
  "call-missed": \e92d,
  "call-missed-outgoing": \e92e,
  "call-received": \e92f,
  "call-split": \e931,
  "call-swap-calls": \e932,
  "contact": \e933,
  "contact-mail": \e937,
  "contact-phone": \e93b,
  "contacts": \e93e,
  "dialpad": \e93f,
  "mobile": \ea48,
  "mobile-arrow-add": \e940,
  "mobile-arrow-remove": \e941,
  "mobile-check": \ea4e,
  "mobile-developer-mode": \e943,
  "mobile-landscape": \e944,
  "mobile-lock": \e949,
  "mobile-minus": \eb36,
  "mobile-plus": \ea50,
  "mobile-portrait": \e94c,
  "mobile-settings": \e94d,
  "mobile-slash": \ea51,
  "mobile-sms": \e97c,
  "mobile-speaker": \e94e,
  "mobile-volume": \ea52,
  "mobile-x": \ea53,
  "phone": \e94f,
  "phone-bluetooth": \e950,
  "phone-call": \eac2,
  "phone-call-end": \e951,
  "phone-callback": \e957,
  "phone-check": \ea49,
  "phone-forward": \e958,
  "phone-in-talk": \e95a,
  "phone-lock": \e95b,
  "phone-minus": \eb39,
  "phone-missed": \e95c,
  "phone-paused": \e95d,
  "phone-plus": \ea4f,
  "phone-ring-volume": \e95e,
  "phone-settings": \e95f,
  "phone-slash": \ea4a,
  "phone-square": \ea4b,
  "phone-volume": \ea4c,
  "phone-x": \ea4d,
  "sim": \e972,
  "sim-slash": \e973,
  "tty": \eaa6,
  "voicemail": \e975,
  "bike": \eae6,
  "bike-alt": \eae7,
  "boat": \eae8,
  "boat-alt": \eae9,
  "bus": \eaea,
  "bus-alt": \eaeb,
  "bus-timer": \eaec,
  "car": \eaed,
  "car-alt": \eaee,
  "commute": \eaef,
  "ev-station": \eaf0,
  "flight-land": \eaf1,
  "flight-takeoff": \eaf2,
  "locomotive": \eaf3,
  "motorbike": \eaf4,
  "parking": \eaf5,
  "petrol-station": \eaf6,
  "railway": \eaf7,
  "scooter": \eaf8,
  "subway": \eaf9,
  "taxi": \eafa,
  "traffic": \eafb,
  "train": \eafc,
  "train-alt": \eafd,
  "tram": \eafe,
  "transfer-within-a-station": \eaff,
  "truck": \eb00,
  "walk": \eb01,
  "calendar": \e994,
  "calendar-alt": \e98d,
  "calendar-check": \e995,
  "calendar-event": \e9b0,
  "calendar-minus": \e996,
  "calendar-note": \e9ba,
  "calendar-plus": \e997,
  "calendar-times": \e99e,
  "calendar-today": \e9df,
  "calendar-view-day": \e9e0,
  "clock": \e9aa,
  "compass": \e9ab,
  "compass-calibration": \e9e3,
  "compass-slash": \e9f5,
  "directions": \ea12,
  "flag": \e9d6,
  "flag-alt": \ec0a,
  "flag-rectangle": \ec0b,
  "flag-triangle": \ec0c,
  "globe": \e9e2,
  "globe-alt": \ea32,
  "globe-alt-lock": \ea46,
  "globe-lock": \ea54,
  "history": \e9f8,
  "hourglass": \e9fb,
  "language": \ea0c,
  "location-gps": \ea8b,
  "location-gps-fixed": \ea8c,
  "location-gps-off": \eab7,
  "location-pin": \ea17,
  "location-pin-check": \eabf,
  "location-pin-edit": \eac3,
  "location-pin-plus": \eac4,
  "location-pin-slash": \eac5,
  "map": \ea20,
  "map-alt": \ea21,
  "signpost": \ea7b,
  "target": \ea99,
  "balance-scale": \eac6,
  "balance-scale-left": \eac7,
  "balance-scale-right": \eac8,
  "bar-chart": \eaca,
  "basket": \eacb,
  "basket-arrow-down": \eacc,
  "basket-loaded": \eacd,
  "basket-plus": \eace,
  "branding-watermark": \eacf,
  "briefcase": \ead0,
  "briefcase-arrow-left": \ec0e,
  "briefcase-arrow-right": \eba4,
  "briefcase-slash": \eba5,
  "british-pound": \ebb9,
  "british-pound-circle": \ebba,
  "british-pound-slash": \ebbb,
  "calculator": \ebbc,
  "card-giftcard": \ebbd,
  "card-membership": \ebbe,
  "card-travel": \ebbf,
  "cart": \ebc0,
  "cart-arrow-down": \ebc1,
  "cart-loaded": \ebc2,
  "cart-plus": \ebc3,
  "cart-slash": \ebc4,
  "chart": \ebc5,
  "chart-area": \ebc6,
  "chart-bubble": \ebc7,
  "chart-donut": \ebc8,
  "chart-line": \ebc9,
  "chart-multiline": \ebca,
  "chart-pie": \ebcb,
  "chart-show": \ebcc,
  "chart-table": \ebcd,
  "credit-card": \ebce,
  "dollar": \ebcf,
  "dollar-circle": \ebd0,
  "dollar-circle-slash": \ebd1,
  "dollar-slash": \ebd2,
  "donate": \ebd3,
  "euro": \ebd4,
  "euro-circle": \ebd5,
  "euro-circle-slash": \ebd6,
  "euro-slash": \ebd7,
  "gem": \eb48,
  "diamond": \eb48,
  "gift": \eb49,
  "graph": \ebd8,
  "loyalty": \ebd9,
  "money": \ec0d,
  "cash": \ec0d,
  "money-bill": \ebda,
  "money-bill-alt": \ebdb,
  "money-bill-alt2": \ebdc,
  "percent": \ebdd,
  "ruble": \ebde,
  "ruble-circle": \ebdf,
  "ruble-circle-slash": \ebe0,
  "ruble-slash": \ebe1,
  "store": \ebe2,
  "toll": \ebe3,
  "vote": \ebe4,
  "wallet": \ebe5,
  "yen": \ebe6,
  "yen-circle": \ebe7,
  "yen-circle-slash": \ebe8,
  "yen-slash": \ebe9,
  "chat-bubble": \ead1,
  "chat-square": \ebea,
  "comment-bubble": \ead4,
  "comment-bubble-check": \ead5,
  "comment-bubble-edit": \ead6,
  "comment-bubble-exclamation": \ead7,
  "comment-bubble-lines": \ead8,
  "comment-bubble-minus": \ead9,
  "comment-bubble-plus": \eada,
  "comment-bubble-question": \ebeb,
  "comment-bubble-smile": \eadb,
  "comment-bubble-x": \eadc,
  "comment-square": \eadd,
  "comment-square-check": \eade,
  "comment-square-edit": \eadf,
  "comment-square-exclamation": \eae0,
  "comment-square-image": \ebec,
  "comment-square-lines": \eae1,
  "comment-square-minus": \eae2,
  "comment-square-plus": \eae3,
  "comment-square-rate-review": \ebed,
  "comment-square-smile": \eae4,
  "comment-square-x": \eae5,
  "speech": \ead2,
  "speech-bubble": \ead3,
  "speech-notes": \ebee,
  "speech-notes-slash": \ebef,
  "hand-lizard": \e9e7,
  "hand-paper": \e9e8,
  "hand-peace": \e9e9,
  "hand-point-down": \e9ea,
  "hand-point-left": \e9eb,
  "hand-point-right": \e9ec,
  "hand-point-up": \e9ed,
  "hand-pointer": \e9ee,
  "hand-rock": \e9ef,
  "hand-scissors": \e9f0,
  "hand-spock": \e9f1,
  "handshake": \e9f2,
  "thumb-down": \ea9f,
  "thumb-up": \eaa0
) !default;
