$coreui-icons-prefix: "cid-" !default;
$coreui-duotone-icons-path: "../svg/duotone" !default;

$icons: (
  "3d",
  "3d-rotate",
  "4k",
  "accessible",
  "account-logout",
  "action-redo",
  "action-undo",
  "address-book",
  "address-card",
  "airplane-mode",
  "airplane-mode-off",
  "airplay",
  "alarm",
  "alarm-add",
  "alarm-off",
  "alarm-on",
  "alarm-snooze",
  "album",
  "align-center",
  "align-left",
  "align-right",
  "american-football",
  "animal",
  "aperture",
  "apple",
  "applications",
  "applications-settings",
  "apps",
  "apps-settings",
  "archive",
  "arrow-circle-bottom",
  "arrow-circle-left",
  "arrow-circle-right",
  "arrow-circle-top",
  "arrow-thick-circle-down",
  "arrow-thick-circle-left",
  "arrow-thick-circle-right",
  "arrow-thick-circle-up",
  "arrow-thick-from-bottom",
  "arrow-thick-from-left",
  "arrow-thick-from-right",
  "arrow-thick-from-top",
  "arrow-thick-square-down",
  "arrow-thick-square-left",
  "arrow-thick-square-right",
  "arrow-thick-square-up",
  "arrow-thick-to-bottom",
  "arrow-thick-to-left",
  "arrow-thick-to-right",
  "arrow-thick-to-top",
  "art-track",
  "aspect-ratio",
  "assistive-listening-system",
  "asterisk-circle",
  "at",
  "audio",
  "audio-description",
  "audio-spectrum",
  "av-timer",
  "baby",
  "baby-carriage",
  "backspace",
  "badge",
  "balance-scale",
  "balance-scale-left",
  "balance-scale-right",
  "ban",
  "bank",
  "bar-chart",
  "barcode",
  "baseball",
  "basket",
  "basket-arrow-down",
  "basket-loaded",
  "basket-plus",
  "basketball",
  "bath",
  "bathroom",
  "battery-0",
  "battery-1",
  "battery-2",
  "battery-3",
  "battery-4",
  "battery-5",
  "battery-alert",
  "battery-alt-0",
  "battery-alt-1",
  "battery-alt-2",
  "battery-alt-3",
  "battery-alt-empty",
  "battery-alt-full",
  "battery-alt-slash",
  "battery-charge",
  "battery-empty",
  "battery-full",
  "battery-slash",
  "battery-unknown",
  "battery-x",
  "beach-access",
  "beaker",
  "bed",
  "bell",
  "bell-exclamation",
  "bell-plus",
  "bell-ring",
  "bell-slash",
  "bike",
  "bike-alt",
  "birthday-cake",
  "blind",
  "bluetooth",
  "bluetooth-connected",
  "bluetooth-searching",
  "bluetooth-settings",
  "bluetooth-slash",
  "boat",
  "boat-alt",
  "bold",
  "bolt-circle",
  "book",
  "book-open",
  "bookmark",
  "bookmarks",
  "border-all",
  "border-bottom",
  "border-clear",
  "border-horizontal",
  "border-inner",
  "border-left",
  "border-outer",
  "border-right",
  "border-style",
  "border-top",
  "border-vertical",
  "bowling",
  "bowling-pins",
  "box",
  "box-alt",
  "braille",
  "branding-watermark",
  "briefcase",
  "briefcase-arrow-left",
  "briefcase-arrow-right",
  "briefcase-slash",
  "brightness",
  "brightness-auto",
  "brightness-high",
  "brightness-low",
  "brightness-medium",
  "british-pound",
  "british-pound-circle",
  "british-pound-slash",
  "broadcast-tower",
  "browser",
  "brush",
  "brush-alt",
  "bug",
  "building",
  "building-business",
  "building-business-slash",
  "building-slash",
  "bullhorn",
  "burger",
  "burn",
  "bus",
  "bus-alt",
  "bus-timer",
  "calculator",
  "calendar",
  "calendar-check",
  "calendar-event",
  "calendar-minus",
  "calendar-note",
  "calendar-plus",
  "calendar-times",
  "calendar-today",
  "calendar-view-day",
  "call-made",
  "call-merge",
  "call-missed",
  "call-missed-outgoing",
  "call-received",
  "call-split",
  "call-swap-calls",
  "call-to-action",
  "camera",
  "camera-control",
  "camera-enhance",
  "camera-plus",
  "camera-roll",
  "camera-switch",
  "car",
  "car-alt",
  "card-giftcard",
  "card-membership",
  "card-travel",
  "caret-bottom",
  "caret-left",
  "caret-right",
  "caret-top",
  "cart",
  "cart-arrow-down",
  "cart-loaded",
  "cart-plus",
  "cart-slash",
  "cash",
  "casino",
  "cast",
  "cast-connected",
  "cast-for-education",
  "cat",
  "cc",
  "center-focus",
  "center-focus-weak",
  "chalkboard-teacher",
  "chart",
  "chart-area",
  "chart-bubble",
  "chart-donut",
  "chart-line",
  "chart-multiline",
  "chart-pie",
  "chart-show",
  "chart-table",
  "chat-bubble",
  "chat-square",
  "check",
  "check-alt",
  "check-circle",
  "check-double",
  "check-double-alt",
  "chevron-bottom-alt",
  "chevron-circle-down",
  "chevron-circle-down-alt",
  "chevron-circle-left",
  "chevron-circle-left-alt",
  "chevron-circle-right",
  "chevron-circle-right-alt",
  "chevron-circle-up",
  "chevron-circle-up-alt",
  "chevron-double-down",
  "chevron-double-down-alt",
  "chevron-double-left",
  "chevron-double-left-alt",
  "chevron-double-right",
  "chevron-double-right-alt",
  "chevron-double-up",
  "chevron-double-up-alt",
  "chevron-left-alt",
  "chevron-right-alt",
  "chevron-square-down",
  "chevron-square-down-alt",
  "chevron-square-left",
  "chevron-square-left-alt",
  "chevron-square-right",
  "chevron-square-right-alt",
  "chevron-square-up",
  "chevron-square-up-alt",
  "chevron-top-alt",
  "child",
  "child-friendly",
  "city",
  "clear-all",
  "clipboard",
  "clock",
  "clone",
  "closed-captioning",
  "cloud-check",
  "cloud-circle",
  "cloud-data",
  "cloud-download",
  "cloud-slash",
  "cloud-upload",
  "cloudy",
  "code",
  "coffee",
  "cog",
  "color-border",
  "color-fill",
  "color-palette",
  "columns",
  "command",
  "comment-bubble",
  "comment-bubble-check",
  "comment-bubble-edit",
  "comment-bubble-exclamation",
  "comment-bubble-lines",
  "comment-bubble-minus",
  "comment-bubble-plus",
  "comment-bubble-question",
  "comment-bubble-smile",
  "comment-bubble-x",
  "comment-square",
  "comment-square-check",
  "comment-square-edit",
  "comment-square-exclamation",
  "comment-square-image",
  "comment-square-lines",
  "comment-square-minus",
  "comment-square-plus",
  "comment-square-rate-review",
  "comment-square-smile",
  "comment-square-x",
  "commute",
  "compare",
  "compass",
  "compass-calibration",
  "compass-slash",
  "compress",
  "compress-wide",
  "contact",
  "contact-mail",
  "contact-phone",
  "contacts",
  "contrast",
  "control",
  "copy",
  "copyright",
  "couch",
  "credit-card",
  "crop",
  "crop-rotate",
  "cursor",
  "cursor-move",
  "cut",
  "data-transfer-down",
  "data-transfer-up",
  "deaf",
  "delete",
  "description",
  "developer-board",
  "device-unknown",
  "devices",
  "devices-important",
  "devices-other",
  "devices-slash",
  "dial",
  "dialpad",
  "diamond",
  "dinner",
  "directions",
  "disabled",
  "dns",
  "dock",
  "document",
  "dog",
  "dollar",
  "dollar-circle",
  "dollar-circle-slash",
  "dollar-slash",
  "donate",
  "door",
  "double-quote-sans-left",
  "double-quote-sans-right",
  "double-quote-serif-left",
  "double-quote-serif-right",
  "drink",
  "drink-alcohol",
  "drop",
  "drop-slash",
  "dvr",
  "ear",
  "eco",
  "education",
  "elevator",
  "ellipsis",
  "energy-circle",
  "envelope-closed",
  "envelope-letter",
  "envelope-minus",
  "envelope-open",
  "envelope-plus",
  "equalizer",
  "ethernet",
  "ethernet-alt",
  "euro",
  "euro-circle",
  "euro-circle-slash",
  "euro-slash",
  "ev-station",
  "excerpt",
  "exclamation",
  "exclamation-circle",
  "exit-to-app",
  "expand-down",
  "expand-left",
  "expand-right",
  "expand-up",
  "exposure",
  "external-link",
  "eye",
  "eye-slash",
  "eyedropper",
  "face",
  "face-dead",
  "factory",
  "factory-slash",
  "fastfood",
  "fax",
  "featured-playlist",
  "featured-video",
  "fiber-dvr",
  "fiber-manual",
  "fiber-new",
  "fiber-pin",
  "fiber-smart",
  "file",
  "file-acrobat",
  "file-add",
  "file-archive",
  "file-audio",
  "file-code",
  "file-doc",
  "file-excel",
  "file-image",
  "file-pdf",
  "file-powerpoint",
  "file-ppt",
  "file-video",
  "file-word",
  "file-xls",
  "filter",
  "filter-frames",
  "filter-photo",
  "filter-square",
  "filter-x",
  "find-in-page",
  "find-replace",
  "fingerprint",
  "fire",
  "flag",
  "flag-alt",
  "flag-rectangle",
  "flag-triangle",
  "flight-land",
  "flight-takeoff",
  "flip",
  "flip-to-back",
  "flip-to-front",
  "flower",
  "folder",
  "folder-alt",
  "folder-arrow-left",
  "folder-arrow-right",
  "folder-back",
  "folder-move",
  "folder-open",
  "folder-plus",
  "folder-shared",
  "folder-special",
  "font",
  "football",
  "fork",
  "fridge",
  "frown",
  "fullscreen",
  "fullscreen-exit",
  "functions",
  "functions-alt",
  "gamepad",
  "garage",
  "gauge",
  "gem",
  "gif",
  "gift",
  "glass",
  "globe",
  "globe-alt",
  "globe-alt-lock",
  "globe-lock",
  "golf",
  "golf-alt",
  "gradient",
  "grain",
  "graph",
  "grid",
  "grid-slash",
  "grip",
  "grip-dots",
  "grip-dots-horizontal",
  "grip-dots-vertical",
  "grip-horizontal",
  "grip-lines",
  "grip-lines-horizontal",
  "grip-lines-vertical",
  "grip-vertical",
  "group",
  "group-minus",
  "group-plus",
  "group-x",
  "hamburger-menu",
  "hand-pointer",
  "handshake",
  "happy",
  "hard-drive",
  "hd",
  "hdr",
  "hdr-slash",
  "header",
  "headphones",
  "headphones-mic",
  "headphones-mute",
  "healing",
  "high-quality",
  "highlighter",
  "highligt",
  "history",
  "home",
  "hospital",
  "hot-tub",
  "hotel",
  "hourglass",
  "house",
  "hq",
  "http",
  "https",
  "id-badge",
  "id-card",
  "image",
  "image-broken",
  "image-plus",
  "images",
  "inbox",
  "inbox-in",
  "inbox-out",
  "indent-decrease",
  "indent-increase",
  "industry",
  "industry-slash",
  "infinity",
  "info",
  "info-circle",
  "input",
  "input-antenna",
  "input-component",
  "input-hdmi",
  "input-power",
  "input-power-off",
  "input-svideo",
  "institution",
  "invert",
  "italic",
  "justify-center",
  "justify-left",
  "justify-right",
  "key",
  "key-alt",
  "keyboard",
  "keyboard-hide",
  "kitchen",
  "lan",
  "language",
  "laptop",
  "laundry",
  "layers",
  "layers-slash",
  "leaf",
  "lemon",
  "level-down",
  "level-up",
  "library",
  "library-add",
  "library-bookmark",
  "library-books",
  "library-building",
  "library-music",
  "life-ring",
  "lightbulb",
  "line-spacing",
  "line-style",
  "line-weight",
  "link",
  "link-alt",
  "link-broken",
  "link-intact",
  "link-slash",
  "list",
  "list-filter",
  "list-high-priority",
  "list-low-priority",
  "list-numbered",
  "list-numbered-rtl",
  "list-rich",
  "location-gps",
  "location-gps-fixed",
  "location-gps-off",
  "location-pin",
  "location-pin-check",
  "location-pin-edit",
  "location-pin-plus",
  "location-pin-slash",
  "lock-locked",
  "lock-minus",
  "lock-plus",
  "lock-unlocked",
  "locomotive",
  "loop",
  "loop-1",
  "loop-circular",
  "loop-square",
  "low-vision",
  "loyalty",
  "madia-skip-backward",
  "magnifying-glass",
  "mail",
  "mailbox",
  "map",
  "map-alt",
  "media-eject",
  "media-eject-circle",
  "media-eject-square",
  "media-pause-circle",
  "media-pause-square",
  "media-play-circle",
  "media-play-square",
  "media-record-circle",
  "media-record-square",
  "media-skip-backward-circle",
  "media-skip-backward-square",
  "media-skip-forward",
  "media-skip-forward-circle",
  "media-skip-forward-square",
  "media-step-backward",
  "media-step-backward-circle",
  "media-step-backward-square",
  "media-step-forward",
  "media-step-forward-circle",
  "media-step-forward-square",
  "media-stop-circle",
  "media-stop-square",
  "medical-cross",
  "meh",
  "memory",
  "menu",
  "mic",
  "mic-alt",
  "mic-settings",
  "mic-slash",
  "microchip",
  "microphone",
  "microphone-alt",
  "microphone-settings",
  "microphone-slash",
  "minus-circle",
  "minus-square",
  "mobile",
  "mobile-arrow-add",
  "mobile-arrow-remove",
  "mobile-check",
  "mobile-developer-mode",
  "mobile-landscape",
  "mobile-lock",
  "mobile-minus",
  "mobile-plus",
  "mobile-portrait",
  "mobile-settings",
  "mobile-slash",
  "mobile-sms",
  "mobile-speaker",
  "mobile-volume",
  "mobile-x",
  "money",
  "money-bill",
  "money-bill-alt",
  "money-bill-alt2",
  "monitor",
  "mood-bad",
  "mood-good",
  "mood-very-bad",
  "mood-very-good",
  "moon",
  "more",
  "motorbike",
  "mouse",
  "mouse-alt",
  "mouth",
  "mouth-slash",
  "move",
  "movie",
  "movie-alt",
  "mug",
  "mug-tea",
  "music-note",
  "music-note-alt",
  "music-note-slash",
  "music-video",
  "network-check",
  "new",
  "new-releases",
  "newspaper",
  "note",
  "note-add",
  "notes",
  "object-group",
  "object-ungroup",
  "opacity",
  "opentype",
  "options",
  "options-alt",
  "oven",
  "overscan",
  "overscan-settings",
  "page",
  "page-restore",
  "pageview",
  "paint",
  "paint-bucket",
  "paper-plane",
  "paperclip",
  "paragraph",
  "parking",
  "paw",
  "pen",
  "pen-alt",
  "pen-fancy",
  "pen-nib",
  "pencil",
  "people",
  "people-minus",
  "people-plus",
  "people-x",
  "percent",
  "person",
  "person-female",
  "petrol-station",
  "phone",
  "phone-bluetooth",
  "phone-call",
  "phone-call-end",
  "phone-callback",
  "phone-check",
  "phone-forward",
  "phone-in-talk",
  "phone-lock",
  "phone-minus",
  "phone-missed",
  "phone-paused",
  "phone-plus",
  "phone-ring-volume",
  "phone-settings",
  "phone-slash",
  "phone-square",
  "phone-volume",
  "phone-x",
  "picture-in-picture",
  "picture-in-picture-alt",
  "pin",
  "pizza",
  "plant",
  "playlist-add",
  "playlist-add-check",
  "playlist-play",
  "plus-circle",
  "plus-one",
  "plus-square",
  "pool",
  "portable-wifi",
  "portable-wifi-off",
  "power-settings",
  "power-standby",
  "pregnant",
  "print",
  "printer",
  "printer-slash",
  "pushchair",
  "qr-code",
  "queue",
  "queue-add",
  "queue-music",
  "queue-play-next",
  "queue-remove",
  "radio",
  "railway",
  "rain",
  "random",
  "recent-actors",
  "recycle",
  "registered",
  "reload",
  "remote-control",
  "remote-settings",
  "replay",
  "report",
  "report-slash",
  "resize-both",
  "resize-height",
  "resize-width",
  "restaurant",
  "restaurant-menu",
  "restore",
  "rights",
  "room",
  "room-slash",
  "rotate-left",
  "rotate-right",
  "rounded-corner",
  "router",
  "rowing",
  "rss",
  "rss-alt",
  "rss-square",
  "ruble",
  "ruble-circle",
  "ruble-circle-slash",
  "ruble-slash",
  "sad",
  "satelite",
  "save",
  "scale",
  "scale-image",
  "scanner",
  "school",
  "scooter",
  "screen-deskop-slash",
  "screen-desktop",
  "screen-horizontal",
  "screen-landscape",
  "screen-lock-horizontal",
  "screen-lock-landscape",
  "screen-lock-portrait",
  "screen-lock-rotation",
  "screen-lock-vertical",
  "screen-mirroring",
  "screen-portrait",
  "screen-rotation",
  "screen-smartphone",
  "screen-vertical",
  "script",
  "scrubber",
  "sdcard",
  "search",
  "security",
  "select",
  "select-all",
  "send",
  "settings",
  "settings-alt",
  "share",
  "share-all",
  "share-alt",
  "share-boxed",
  "shield",
  "shield-alt",
  "shield-check",
  "shield-minus",
  "shield-plus",
  "shield-slash",
  "shield-x",
  "shop-media",
  "shop-media-two",
  "short-text",
  "shower",
  "sign-language",
  "signal-cellular-0",
  "signal-cellular-1",
  "signal-cellular-2",
  "signal-cellular-3",
  "signal-cellular-4",
  "signal-cellular-no-internet-0",
  "signal-cellular-no-internet-1",
  "signal-cellular-no-internet-2",
  "signal-cellular-no-internet-3",
  "signal-cellular-no-internet-4",
  "signal-cellular-off",
  "signpost",
  "sim",
  "sim-slash",
  "sitemap",
  "slow-motion",
  "smile",
  "smile-plus",
  "smoke",
  "smoke-free",
  "smoke-slash",
  "smoking-room",
  "snow",
  "snowflake",
  "soccer",
  "sofa",
  "sorround-sound",
  "sort-alpha-down",
  "sort-alpha-up",
  "sort-ascending",
  "sort-descending",
  "sort-numeric-down",
  "sort-numeric-up",
  "sound",
  "spa",
  "space-bar",
  "speak",
  "speaker",
  "speaker-group",
  "speech",
  "speech-bubble",
  "speech-notes",
  "speech-notes-slash",
  "speedometer",
  "spreadsheet",
  "star-circle",
  "star-half",
  "sticky-note",
  "storage",
  "store",
  "stream",
  "strikethrough",
  "subtitles",
  "subway",
  "sun",
  "swap-horizontal",
  "swap-horizontal-circle",
  "swap-vertical",
  "swap-vertical-circle",
  "swimming",
  "sync",
  "sync-disabled",
  "sync-problem",
  "tablet",
  "tag",
  "tags",
  "target",
  "task",
  "taxi",
  "temperature",
  "temperature-alt",
  "temperature-high",
  "temperature-low",
  "tennis",
  "tennis-ball",
  "terminal",
  "terrain",
  "text",
  "text-direction-ltr",
  "text-direction-rtl",
  "text-format-clear",
  "text-height",
  "text-rotate-vertical",
  "text-rotation-down",
  "text-rotation-none",
  "text-rotation-up",
  "text-shapes",
  "text-size",
  "text-square",
  "text-strike",
  "text-width",
  "thermometer",
  "thermometer-alt",
  "thumb-down",
  "thumb-up",
  "timeline",
  "timer",
  "toggle-off",
  "toggle-on",
  "toilet",
  "toll",
  "touch-app",
  "trademark",
  "traffic",
  "train",
  "train-alt",
  "tram",
  "transfer",
  "transfer-within-a-station",
  "translate",
  "trash",
  "trash-alt",
  "trash-arrow-up",
  "trash-sweep",
  "trash-x",
  "truck",
  "tty",
  "tv",
  "tv-dvr",
  "tv-live",
  "tv-slash",
  "underline",
  "universal-access",
  "update",
  "usb",
  "user",
  "user-female",
  "user-female-follow",
  "user-female-minus",
  "user-female-plus",
  "user-female-unfollow",
  "user-female-x",
  "user-follow",
  "user-minus",
  "user-plus",
  "user-secret",
  "user-unfollow",
  "vector",
  "verical-split",
  "vertical-align-bottom",
  "vertical-align-center",
  "vertical-align-top",
  "video",
  "video-label",
  "video-library",
  "video-missed",
  "video-plus",
  "video-slash",
  "video-switch",
  "videogame",
  "view-agenda",
  "view-array",
  "view-carousel",
  "view-column",
  "view-list",
  "view-module",
  "view-quilt",
  "view-row",
  "view-stream",
  "voice",
  "voice-over-record",
  "voice-over-slash",
  "voicemail",
  "volume",
  "volume-high",
  "volume-low",
  "volume-off",
  "vote",
  "wallet",
  "wallpaper",
  "warning",
  "watch",
  "waves",
  "wc",
  "webcloud",
  "weightlifitng",
  "weights",
  "wheelchair",
  "widgets",
  "wifi",
  "wifi-lock",
  "wifi-signal-0",
  "wifi-signal-1",
  "wifi-signal-2",
  "wifi-signal-3",
  "wifi-signal-4",
  "wifi-signal-lock-0",
  "wifi-signal-lock-1",
  "wifi-signal-lock-2",
  "wifi-signal-lock-3",
  "wifi-signal-lock-4",
  "wifi-signal-off",
  "window",
  "window-maximize",
  "window-minimize",
  "window-restore",
  "wrap-text",
  "x-circle",
  "x-square",
  "yen",
  "yen-circle",
  "yen-circle-slash",
  "yen-slash",
  "zoom",
  "zoom-in",
  "zoom-out",
) !default;